.resultWrapper1 {
  box-sizing: border-box;
  background-color: #dddddd;
  height: 100vh;
  padding-top: 20px;
}
.resultTitle {
  background-color: white;
  text-align: center;
  margin: 0 20vw;
  border-radius: 30px;
  border: solid;
  box-shadow: 0px 3px 3px;
}
.resultWrapper2 {
  display: flex;
  justify-content: space-around;
}
.leftResultItems {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  width: 40vw;
  height: 400px;
  border: solid;
  border-radius: 30px;
  transition: all 0.3s;
  position: relative;
}
.positionAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 80%;
  width: 100%;
  margin: auto;
}
.resultHandTitle {
  display: inline-block;
  background-color: white;
  text-align: center;
  width: 70%;
  border-radius: 20px;
}
.resultHandImage {
  background-size: cover;
  width: auto;
  height: 80%;
  background-color: white;
  margin: 20px;
  border-radius: 30px;
}
.rightResultItems {
  border: solid;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  margin-top: 20px;
  height: 400px;
  width: 40vw;
  text-align: center;
  transition: all 0.3s;
  position: relative;
}
.resultMessage {
  padding: 10% 0;
}
.resultWinCounter {
  padding: 5% 0;
  font-size: 2rem;
}
.resultButtonWrapper {
  display: flex;
  justify-content: space-around;
}
.changeResultButton {
  width: 200px;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid;
  box-shadow: 0px 3px 3px;
  background-color: white;
}
.resultToHome {
  width: 200px;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid;
  box-shadow: 0px 3px 3px;
  background-color: white;
}
.rightResultItems:hover {
  box-shadow: 0px 3px 0px;
  transform: translateY(-3px);
}
.leftResultItems:hover {
  box-shadow: 0px 3px 0px;
  transform: translateY(-3px);
}
.changeResultButton:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.resultToHome:hover {
  transform: translateY(3px);
  box-shadow: none;
}
@media screen and (max-width: 1150px) {
  .resultWrapper2 {
    display: block;
  }
  .leftResultItems {
    margin: 20px auto;
    width: 60vw;
    min-width: 300px;
  }
  .rightResultItems {
    margin: 20px auto;
    width: 60vw;
    min-width: 300px;
  }
  .resultWrapper1 {
    height: 200vh;
  }
  .resultMessage {
    font-size: 1.3rem;
    width: 100%;
  }
  .changeResultButton {
    font-size: 1rem;
  }
  .resultToHome {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .leftResultItems {
    min-width: 200px;
  }
  .rightResultItems {
    min-width: 200px;
  }
  .resultHandImage {
    width: 200px;
    height: auto;
  }
  .resultButtonWrapper {
    display: block;
    text-align: center;
  }
  .changeResultButton {
    margin: 10px;
  }
  .resultMessage {
    font-size: 1rem;
    width: 100%;
  }
  .resultHandTitle {
    font-size: 1.2rem;
  }
}
