.vsDiv {
  color: #000000ad;
  width: auto;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.vsPageHalfTop {
  display: flex;
  justify-content: space-around;
  height: 250px;
  padding-top: 20px;
}
.vsPageLeft {
  width: 45%;
  border: solid;
  border-radius: 10px;
  margin-left: 10px;
}
.changeWrapper {
  width: 100%;
}
.changeImageWrapper {
  text-align: center;
  position: relative;
  padding: 10px;
}
.changeImageWrapper h2 {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.changeImageWrapper img {
  width: auto;
  height: 160px;
}
.myChangeWrapper {
  text-align: center;
  position: relative;
  padding: 10px;
}
.myChangeWrapper h2 {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myChangeWrapper img {
  width: auto;
  height: 160px;
}
.changeButtonWrappeer {
  display: flex;
  justify-content: space-around;
}
.changeButton {
  font-size: 1.5rem;
  border: solid;
  border-radius: 10px;
  background-color: #dddddd;
  transition: all 0.1s;
}
.changeButton:hover {
  border-color: #4b4b4b;
  color: white;
  background-color: #44b9a7;
}

.defaultChangeWrapper {
  text-align: center;
}
.defaultChangeWrapper h2 {
  font-size: 3rem;
}
.defaultChangeWrapper h3 {
  font-size: 2rem;
}
/* -----vsPageLeft */
.vsPageRight {
  width: 45%;
  border: solid;
  border-radius: 10px;
  margin-right: 10px;
}
.judgeWrapper {
}
.red {
  color: rgb(236 84 84);
}
.green {
  color: rgb(59 208 65);
}
.blue {
  color: rgb(58 132 232);
}
.judge {
  font-size: 1.3rem;
  text-align: center;
  background-color: #dddddd;
  margin: 10px 30%;
  border: solid;
  border-radius: 10px;
}
.vsPageRight h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.betButtonWrapper {
  display: flex;
}
.pointWrapper {
  color: #1d1b1b;
  width: 50%;
  text-align: center;
}
.pointWrapper div {
  height: 100%;
}
.pointTitle {
  background-color: #dddddd;
  border-radius: 10%;
}
.pointWrapper h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 0 10px;
}
.betButton {
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.betButton div {
}
.betButton button {
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
  padding: 5px 10px;
  margin: 10px;
  border: solid;
  background-color: white;
  transition: all 0.1s;
}
.betButton button:hover {
  background-color: #44b9a7;
  color: aliceblue;
  border-color: #4b4b4b;
}
/* -----vsPageRight */
.buttonWrapper {
  display: flex;
  justify-content: space-around;
  margin: 10px 40px;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #dddddd;
  box-shadow: 5px 5px 5px #1d1b1b;
  height: 200px;
}
.handImage {
  object-fit: contain;
  height: 80%;
  width: 80%;
}
.handButton {
  display: inline-block;
  border-radius: 9999px;
  height: 12rem;
  width: 12rem;
  background-color: white;
  box-shadow: 0px 5px 0px #4b4b4b;
  transition: all 0.1s;
  border-color: #4b4b4b;
}
.handButton:hover {
  background-color: #44b9a7;
  box-shadow: none;
  transform: translate3d(0px, 5px, 0px);
}
.bottomMessage {
  display: flex;
  justify-content: space-around;
}
.winCounter {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

@media screen and (max-width: 1084px) {
  .pointWrapper h3 {
    font-size: 17px;
  }
  .changeImageWrapper h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 900px) {
  .pointWrapper h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 820px) {
  .vsPageLeft {
    width: 90%;
    margin: 0 auto 20px;
    height: 250px;
  }
  .vsPageRight {
    width: 90%;
    margin: 0 auto;
    height: 250px;
  }
  .buttonWrapper {
    margin: 30px 40px 10px;
    height: 160px;
  }
  .handButton {
    height: 9rem;
    width: 9rem;
  }
}
@media screen and (max-width: 600px) {
  .buttonWrapper {
    margin: 30px 40px 10px;
    height: 110px;
  }
  .handButton {
    height: 6rem;
    width: 6rem;
  }
  .bottomMessage {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .buttonWrapper {
    margin: 30px 10px 10px;
    height: 110px;
  }
  .handButton {
    height: 6rem;
    width: 6rem;
  }
  .bottomMessage {
    display: block;
  }
  .pointWrapper h3 {
    width: 100px;
  }
}
@media screen and (max-width: 390px) {
  .winCounter {
    font-size: 1.5rem;
  }
  .buttonWrapper {
    margin: 30px 10px 10px;
    height: 90px;
  }
  .handButton {
    height: 5rem;
    width: 5rem;
  }
}
