.vsDiv {
  color: #000000ad;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 100vh;
  box-sizing: border-box;
}
/* vsPageの上半分 */
.vsPageHalfTop{
  display: flex;
  justify-content: space-around;
}
/* 上半分の左 */
.vsPageLeft{
  width: 45%;
}
/* 上半分の右 */
.vsPageRight{
  width: 45%;
  border: solid;
}
.buttonWrapper {
  display: flex;
  justify-content: space-around;
  margin: 10px 40px;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #dddddd;
  box-shadow: 5px 5px 5px #1d1b1b;
}
.handImage {
  object-fit: cover;
  height: 80%;
  width: 80%;
}
.handButton {
  display: inline-block;
  border-radius: 9999px;
  height: 14rem;
  width: 14rem;
  background-color: white;
  box-shadow: 0px 5px 0px #4b4b4b;
  transition: all 0.3s;
  border-color: #4b4b4b;
}
.handButton:hover {
  background-color: #44b9a7;
  box-shadow: none;
  transform: translate3d(0px, 5px, 0px);
}
.winCounter {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}
/* -----ChangeResult----- */
.changeWrapper {
  border: solid;
  width: 100%;
}
.changeImageWrapper {
  text-align: center;
  position: relative;
}
.changeImageWrapper h2{
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.changeImageWrapper img{
  width: 200px;
  height: auto;
}
.opponentHand{
  text-align: center;
}
.changeButtonWrappeer{
  display: flex;
  justify-content: space-around;
}
.changeButton{}