.vsDiv {
  color: #000000ad;
  width: auto;
  height: 85vh;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.errorMessageWrap {
  position: absolute;
  z-index: 2;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  height: 95vh;
  width: 100vw;
}
.errorMessage {
  padding: 60px 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #cafff8;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
  text-align: end;
  border-radius: 5px;
  box-shadow: 5px 5px 3px;
}
.errorMessage button {
  background-color: #ffffff;
  color: #4d4d4d;
  border-color: #4d4d4d;
  width: 80px;
  font-weight: 600;
}
.vsPageLeft {
  width: 45%;
  margin-left: 10px;
  height: 100%;
}
.changeWrapper {
  width: 100%;
  height: 42%;
  border: solid;
  background-color: white;
}
.changeImageWrapper {
  height: 100%;
  text-align: center;
  position: relative;
  padding: 10px;
}
.changeImageWrapper h2 {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.changeImageWrapper img {
  width: auto;
  height: 180px;
}
.oppoImage {
  transform: scale(1, -1);
}
.changeButtonWrappeer {
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
}
.changeButton {
  font-size: 1.5rem;
  border: solid;
  border-radius: 10px;
  background-color: white;
  transition: all 0.1s;
  height: 50px;
}
.changeButton:hover {
  border-color: #4b4b4b;
  color: white;
  background-color: #44b9a7;
}

.defaultChangeWrapper {
  text-align: center;
  height: 42%;
  border: solid;
  background-color: white;
}
.defaultChangeWrapper h2 {
  font-size: 3rem;
}
.defaultChangeWrapper h3 {
  font-size: 2rem;
}
/* -----vsPageLeft */
.vsPageRight {
  width: 45%;
  border: solid;
  border-radius: 10px;
  margin-right: 10px;
  height: 100%;
  background-color: white;
}
.vsPageRightTop {
  height: 50%;
}
.judgeWrapper {
  height: 150px;
}
.judgeWrapper span {
  font-size: 2rem;
}
.red {
  color: rgb(236 84 84);
}
.green {
  color: rgb(59 208 65);
}
.blue {
  color: rgb(58 132 232);
}
.judge {
  font-size: 1.3rem;
  text-align: center;
  background-color: #dddddd;
  margin: 20px 30%;
  border: solid;
  border-radius: 10px;
}
.vsPageRight h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.betButtonWrapper {
  display: flex;
  justify-content: space-evenly;
}
.pointWrapper {
  color: #1d1b1b;
  width: 120px;
  text-align: center;
}
.pointTitle {
  background-color: #dddddd;
  border-radius: 10%;
}
.pointWrapper h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 0 10px;
}
.betButton {
  width: 120px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.betButton button {
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
  padding: 5px 10px;
  margin: 10px;
  border: solid;
  background-color: white;
  transition: all 0.1s;
}
.betButton button:hover {
  background-color: #44b9a7;
  color: aliceblue;
  border-color: #4b4b4b;
}
/* -----vsPageRight ---judge---betButton*/
.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 6% 10%;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #dddddd;
  box-shadow: 5px 5px 5px #1d1b1b;
  height: 26%;
  align-items: center;
}
.handImage {
  object-fit: contain;
  height: 80%;
  width: 80%;
}
.handButton {
  display: inline-block;
  border-radius: 9999px;
  height: 7.5rem;
  width: 7.5rem;
  background-color: white;
  box-shadow: 0px 5px 0px #4b4b4b;
  transition: all 0.1s;
  border-color: #4b4b4b;
}
.handButton:hover {
  background-color: #44b9a7;
  box-shadow: none;
  transform: translate3d(0px, 5px, 0px);
}
.bottomMessage {
  display: flex;
  justify-content: space-around;
}
.winCounter {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}
@media screen and (max-width: 1190px) {
  .handButton {
    height: 6.5rem;
    width: 6.5rem;
  }
  .changeImageWrapper h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1180px) {
  .handButton {
    height: 6rem;
    width: 6rem;
  }
}
@media screen and (max-width: 1000px) {
  .buttonWrapper {
    margin: 6% 5%;
    padding: 8px 20px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 890px) {
  .changeImageWrapper h2 {
    font-size: 45px;
  }
  .errorMessage {
    padding: 30px 50px;
  }
  .errorMessage button {
    width: 80px;
    font-weight: 600;
  }
}
@media screen and (max-width: 800px) {
  .vsDiv {
    width: 100vw;
    height: auto;
    display: block;
  }
  .vsPageLeft {
    margin: 0 auto;
    width: 80%;
  }
  .vsPageRight {
    width: 80%;
    margin: 30px auto;
  }
  .bottomMessage {
    margin-bottom: 20px;
  }
  .buttonWrapper {
    margin: 6% 10%;
    padding: 10px 40px;
    border-radius: 30px;
    height: 26%;
  }
  .handButton {
    height: 7.5rem;
    width: 7.5rem;
  }
  .errorMessageWrap {
    height: 175vh;
  }
}
@media screen and (max-width: 680px) {
  .buttonWrapper {
    margin: 6% 5%;
    padding: 8px 20px;
    border-radius: 20px;
  }
  .bottomMessage {
    display: block;
    text-align: center;
  }
  .errorMessage {
    padding: 10px 20px;
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 555px) {
  .handButton {
    height: 6rem;
    width: 6rem;
  }
}
@media screen and (max-width: 450px) {
  .handButton {
    height: 5rem;
    width: 5rem;
  }
  .winCounter {
    font-size: 1.5rem;
  }
  .changeImageWrapper h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  .handButton {
    height: 4rem;
    width: 4rem;
  }
  .changeImageWrapper h2 {
    font-size: 30px;
  }
  .changeImageWrapper img {
    width: auto;
    height: 150px;
  }
  .betButton {
    width: 80px;
  }
  .betButton button {
    font-size: 0.8rem;
    width: 80px;
    padding: 2px 5px;
    margin: 3px;
  }
  .judgeWrapper {
    height: 110px;
  }
  .judgeWrapper span {
    font-size: 1rem;
  }
  .vsPageRight h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 300px) {
  .handButton {
    height: 3rem;
    width: 3rem;
  }
  .winCounter {
    font-size: 1rem;
  }
  .changeImageWrapper h2 {
    font-size: 20px;
  }
}
